[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
joblib = "*"
pandas = "*"
streamlit = "*"
sklearn = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.9"
